<html>
<head></head>
<body>
<h1>Albums</h1>
  <% @albums.each do |album| %>
    <div>
      <a href="/albums/<%= album.id %>"><%= album.title %></a>
    </div>
  <% end %>
<!-- ... -->
</body>
</html>