<html>
    <head></head>
    <body>
        <h1>Add an Artist</h1>
        <form action="/artists" method="POST">
            <p>Name: <input type="text" name="name"></p>
            <p>Genre: <input type="text" name ="genre"></p>
            <p><input type="submit" value="Submit the form"></p>
        </form>
    </body>
</html>