<html>
    <head></head>
    <body>
        <h1>Add an Album</h1>
        <form action="/albums" method="POST">
            <p>Title: <input type="text" name="title"></p>
            <p>Release year: <input type="text" name ="release_year"></p>
            <p>Artist ID: <input type="number" name ="artist_id"></p>
            <p><input type="submit" value="Submit the form"></p>
        </form>
    </body>
</html>